In [1]:
import os
import requests
import pandas as pd

In [12]:
# Temp Increase Extraction using Pandas

url = 'https://science2017.globalchange.gov/chapter/6/'
table = pd.read_html(url)
temp_df = table[2]
temp_df

,NCA Region,Change in Annual Average Temperature,Change in Annual Average Maximum Temperature,Change in Annual Average Minimum Temperature
0,Contiguous U.S.,1.23°F,1.06°F,1.41°F
1,Northeast,1.43°F,1.16°F,1.70°F
2,Southeast,0.46°F,0.16°F,0.76°F
3,Midwest,1.26°F,0.77°F,1.75°F
4,Great Plains North,1.69°F,1.66°F,1.72°F
5,Great Plains South,0.76°F,0.56°F,0.96°F
6,Southwest,1.61°F,1.61°F,1.61°F
7,Northwest,1.54°F,1.52°F,1.56°F
8,Alaska,1.67°F,1.43°F,1.91°F
9,Hawaii,1.26°F,1.01°F,1.49°F
10,Caribbean,1.35°F,1.08°F,1.60°F

In [13]:
# Convert tabular data to html
temp_table = temp_df.to_html()
temp_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>NCA Region</th>\n      <th>Change in Annual Average Temperature</th>\n      <th>Change in Annual Average Maximum Temperature</th>\n      <th>Change in Annual Average Minimum Temperature</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Contiguous U.S.</td>\n      <td>1.23°F</td>\n      <td>1.06°F</td>\n      <td>1.41°F</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Northeast</td>\n      <td>1.43°F</td>\n      <td>1.16°F</td>\n      <td>1.70°F</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Southeast</td>\n      <td>0.46°F</td>\n      <td>0.16°F</td>\n      <td>0.76°F</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Midwest</td>\n      <td>1.26°F</td>\n      <td>0.77°F</td>\n      <td>1.75°F</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Great Plains North</td>\n      <td>1.69°F</td>\n      <td>1.66°F</td>\n      <td>1.72°F</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Great Plains South</td>\n      <td>0.76°F</td>\n      <td>0.56°F</td>\n      <td>0.96°F</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Southwest</td>\n      <td>1.61°F</td>\n      <td>1.61°F</td>\n      <td>1.61°F</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Northwest</td>\n      <td>1.54°F</td>\n      <td>1.52°F</td>\n      <td>1.56°F</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Alaska</td>\n      <td>1.67°F</td>\n      <td>1.43°F</td>\n      <td>1.91°F</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Hawaii</td>\n      <td>1.26°F</td>\n      <td>1.01°F</td>\n      <td>1.49°F</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Caribbean</td>\n      <td>1.35°F</td>\n      <td>1.08°F</td>\n      <td>1.60°F</td>\n    </tr>\n  </tbody>\n</table>'

Average Temperatures from 1986-2016 vs. Average Temperatures from 1901-1960 in different US Regions:
 
Relative to temperatures early in 20th Century, all US regions have experienced temperature increases. This is true for average, minimum avg, and maximum avg temperatures. The greatest temperature increases have taken place in the Western USA (SW/Hawaii, NW/Alaska).

In [ ]:
# Would be interesting to correlate the regional temperature increase data with regional electric car sales data